{{ "<!-- Header -->" | safeHTML }}

<header class="header-navigation container">
    {{ partial "navigation-mobile" .}}
    {{ partial "navigation-desktop" .}}

    <div class="strip-bg bg-0"></div>
    <div class="strip-bg bg-1"></div>
</header>
