<div class="miner-info" id="minerBanner">
    <p class="text text-center">
        {{ .Site.Data.miner.miner.text}}&nbsp;<a href="../faq#miner">{{ .Site.Data.miner.miner.more}}</a>
    </p>
    <p class="actions text-right">
        <button type="button" class="btn btn-default" onclick="javascript:App.miner.hideBanner()">OK</button>
        <button type="button" class="btn btn-danger" onclick="javascript:App.miner.stop()">STOP</button>
    </p>
</div>
