{{ $currentPage := . }}
<div class="row d-none d-sm-none d-md-flex">
    <div class="col-1 col-sm-2">
        <div class="logo">
            <img src="{{ .Site.BaseURL }}images/cardano.svg">
        </div>
    </div>

    <div class="col-11 col-sm-10">
        {{ with .Site.Menus.main }}
        <nav class="separator navigation">
            {{ range . }}
                <span class="top" {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active="true"{{end}}>
                    <a href="{{ .URL | absURL }}">{{ .Name }}</a>
                </span>
            {{ end }}
            {{ partial "prices_widget" .}}
        </nav>
        {{ end }}

        {{ with $currentPage.Params.menu }}
        <nav class="navigation">
            {{ range sort . "weight" "asc"}}
                <span class="bottom"><a href="{{ .url }}">{{ .title }}</a></span>
            {{ end}}
        </nav>
        {{ end}}
    </div>
</div>