{{ $currentPage := . }}
<div class="row d-flex d-sm-flex d-md-none justify-content-center">
    <div class="mobile-menu">
        <div class="logo">
            <img src="{{ .Site.BaseURL }}images/cardano.svg">
        </div>

        <button type="button" class="btn btn-primary btn-menu" data-toggle="modal" data-target="#exampleModal">
            MENU
        </button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sommaire</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ with .Site.Menus.main }}
                        <nav>
                            {{ range . }}
                                <span class="row" {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active="true"{{end}}>
                                <a href="{{ .URL | absURL }}">{{ .Name }}</a>
                                </span>
                                {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                                    {{ with $currentPage.Params.menu }}
                                    <nav class="navigation">
                                        {{ range sort . "weight" "asc"}}
                                            <span><a href="{{ .url }}">{{ .title }}</a></span>
                                        {{ end}}
                                    </nav>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </nav>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

</div>