<div id="current-prices" class="prices-container">
    <div><span>USD :</span> <span id="current-price-usd">-</span></div>
    <div><span>BTC :</span> <span id="current-price-btc">-</span></div>
</div>