#main {
    & hr {
        margin-top: 44px;
        margin-bottom: 44px;
    }
}
h1#mise-en-garde:before {
    content: "\f071";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    margin-right: 11px;
    font-size: 0.9em;
    vertical-align: bottom;
}
h1#mise-en-garde + p {
    color: indianred;
    background: white;
    padding: 22px;
    box-shadow: 2px 2px 11px rgba(0,0,0,.23);
    margin-top: 22px;
}
h1#f-a-q + p + ul li {
    margin-top: 11px;
    margin-bottom: 11px;
}
div.coinmarketcap-currency-widget div {
    background: white;
    overflow: hidden;
}
