.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .logo {
       margin: 11px;
       margin-bottom: 40px;
       width: 110px;
       height: 110px;
       & img {
          width: 110px;
          height: 110px;
       }
    }

    & .btn.btn-menu {
        font-size: 3rem !important;
        border-top: 3px solid black !important;
        border-bottom: 3px solid black !important;
        color: black !important;
    }
}

/*************
*  HEADER
*************/
.logo {
    width: 70px;
    height: 70px;
    & img {
        width: 70px;
        height: 70px;
    }
}

.prices-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;

    & div{
        flex: 1;
        display: flex;
        flex-direction: row;
        font-size: small;
        width: 90%;
        justify-content: flex-end;

        & span{
            text-align: right;
            margin: 0 !important;
            flex: 1;
        }
    }
}

.price-up {
    &:after {
        content: '\25b2';
        padding-left: 0.2em;
        color:green;
    }
}

.price-down {
    &:after {
        content: '\25bc';
        padding-left: 0.5em;
        color:red;
    }
}

.positive-price{
    color:green;
}

/*************
*  NAVIGATION
*************/
.separator {
    border-bottom: 1px solid #555;
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
}

.separator a:hover {
    text-decoration: none;
}

.header-navigation {
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 100px;
}
.navigation span {
    margin-right: 22px;
    margin-left: 22px;
}
.navigation span[active="true"] {
    font-weight: bold;
}
.navigation span.top {

    padding-bottom: 10px;
    display: inline-block;

    animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    & a {
        position: relative;
        display: block;
        transition: all 330ms;
    }
    & a:hover {
       transform: scale(1.10) translateY(-3px);
       transition: all 330ms;
    }
    &:nth-child(1) {
        animation-delay: 0.1s;
    }
    &:nth-child(2) {
        animation-delay: 0.2s;
    }
    &:nth-child(3) {
        animation-delay: 0.3s;
    }
    &:nth-child(4) {
        animation-delay: 0.4s;
    }
    &:nth-child(5) {
        animation-delay: 0.5s;
    }
    &:nth-child(6) {
        animation-delay: 0.6s;
    }
}
.navigation span.bottom {
    margin-right: 11px;
    padding-top: 10px;
    display: inline-block;
}
.navigation span a {
    color: #525f7f;
    font-size: 18px;
}
.navigation span.bottom a {
    font-size: 16px;
}

.strip-bg {
    width: 300%;
    position: absolute;
    left: -20px;
    z-index: -2;
    transform: rotate(7deg);

    &.bg-0 {
         height: 100%;
         top: 50%;
         left: -100px;
         background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    }
    &.bg-1 {
         height: 80%;
         top: 0;
         left: -100px;
         background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }
}


/* ----------------------------------------
* animation slide-in-blurred-top
* ----------------------------------------
*/
@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}