/*************
*  MINER INFO
*************/
.miner-info {
    display: flex;
    background: #e1e1e1;
    justify-content: center;
    align-items: center;

    & p {
          margin-bottom: 0;
        &.actions {
             flex: 1;
        }
        &.text {
             flex: 4;
        }
    }
}