.roadmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.roadmap .row {
    width: 30%;
    justify-content: flex-start;
}
.node {
    display: flex;
    flex-direction: column;
    padding-left: 9px;
    border-left: 2px solid #3bc9c8;
}
.node.past {
    border-color:#ccc;
}
.node:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: white;
    border: 8px solid #3bc9c8;
    border-radius: 15px;
    position: relative;
    left: -20px;
    box-sizing: content-box;
}
.node.past:before {
    border-color: #ccc;
}
.node.start:before {
    border-color: #525f7f;
}
.node.end:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: white;
    border: 8px solid #4CAF50;
    border-radius: 15px;
    position: relative;
    left: -20px;
    box-sizing: content-box;
}
.node .progress-total {
    width: 150px;
    height: 20px;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.node .progress {
    height: 20px;
    background-image: linear-gradient(to right, #e6e9f0 0%, #eef1f5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.node .progress:after {
    content: '%';
    margin-left: 1px
}
.node .date {
    position: relative;
    left: -130px;
}
.node .title {
    position: relative;
    top: -25px;
    height: 20px;
}