.sharers {
    display: flex;
    flex-direction: row;
    align-items: end;
    & p {
      margin-right: 22px;
    }

    & a {
        display: flex;
        margin-right: 10px;
        transition: all 500ms;
        & i {
            font-size: 30px;
        }

        &:hover { text-decoration: none;}
        &.facebook {
            color: #3b5998;
            &:hover:before {
                content: 'Facebook';
                display: block;
                color: #3b5998;
                transition: all 500ms;
                height: 25px;
                margin-top: 2px;
                margin-right: 5px;
            }
        }
        &.twitter {
            color: #00aced;
             &:hover:before {
                 content: 'Twitter';
                 display: block;
                 color: #00aced;
                 transition: all 500ms;
                 height: 25px;
                 margin-top: 2px;
                 margin-right: 5px;
             }
        }
        &.gplus {
            color: #d34836;
             &:hover:before {
                 content: 'Google Plus';
                 display: block;
                 color: #d34836;
                 transition: all 500ms;
                 height: 25px;
                 margin-top: 2px;
                 margin-right: 5px;
             }
        }
    }
}