@media (max-width: 767px) {
    .miner-info {
        flex-direction: column;
    }
    .navigation {
        display: flex;
        flex-direction: column;
    }

    .node .date {
        position: relative;
        left: 0;
    }
    .node .title {
        position: relative;
        top: 0;
    }
}