/*************
*  FOOTER
*************/
footer {
    padding-top: 22px;
    padding-bottom: 22px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}



/*************
*  BOOTSTRAP ENHANCE
*************/
.container-separator:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #525f7f;
    margin-bottom: 44px;
    margin-top: 44px;
}
.container {
    & a {
      color: #3cc8c8;
    }
}