<!DOCTYPE HTML>

<html>
	{{ partial "head" . }}
	<body id="top">
		{{ partial "miner" .}}
		{{ partial "header" . }}

		{{ "<!-- Main -->" | safeHTML }}
		<div id="main" class="container">
			{{ block "main" . }}{{ end }}
		</div>

		{{ partial "footer" . }}

		<script src="{{ .Site.BaseURL }}app.js"></script>
	</body>
</html>
