<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
<div class="row justify-content-center">
    <div class="coinmarketcap-currency-widget" data-currency="cardano" data-base="EUR"  data-secondary="BTC"></div>
</div>