{{ if .Get "nodeStart" }}
<div class="container roadmap">
{{ end }}

{{ if .Get "title" }}
<div class="row">
    <div class='node {{ .Get "type" }}'>
        <span class="date">{{ .Get "date" }}</span>
        <span class="title">{{ .Get "title" }}</span>
        <span class="progress-total">
            <span class="progress" style="width: {{ .Get "progress" }}%">{{ .Get "progress" }}</span>
        </span>
    </div>
</div>
{{ end }}

{{ if .Get "nodeEnd" }}
</div>
{{ end }}