<div class="sharers">
    <p>Partager cette page</p>
    <a href="#" onclick="App.Sharers.facebook()" class="facebook">
        <i class="fab fa-facebook-square"></i>
    </a>
    <a href="#" onclick="App.Sharers.twitter()" class="twitter">
        <i class="fab fa-twitter-square"></i>
    </a>
    <a href="#" onclick="App.Sharers.google_plus()" class="gplus">
        <i class="fab fa-google-plus-square"></i>
    </a>
</div>
