<!-- TradingView Chart BEGIN -->
<script type="text/javascript" src="https://s3.amazonaws.com/tradingview/tv.js"></script>
<script type="text/javascript">
    var tradingview_embed_options = {};
    tradingview_embed_options.width = window.innerWidth - 350;
    tradingview_embed_options.height = window.innerHeight;
    tradingview_embed_options.chart = '{{ .Get "chart_id" }}';
    new TradingView.chart(tradingview_embed_options);
</script>
<p><a href="https://www.tradingview.com/chart/ADABTC/ka3Uo99G-Cardano-ADABTC-end-of-the-correction-and-100-gains-ahead/">Cardano #ADABTC - end of the correction and 100% gains ahead?</a> by <a href="https://www.tradingview.com/u/sebastian.seliga.7/">sebastian.seliga.7</a> on <a href="https://www.tradingview.com/">TradingView.com</a></p>
<!-- TradingView Chart END -->