<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="row justify-content-center embedded-tweets">
    <a href="https://twitter.com/intent/tweet?button_hashtag={{ .Get "twitter_account" }}&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #CardanoStiftung</a>

    <a class="twitter-timeline"
       href="https://twitter.com/{{ .Get "twitter_account" }}">
        Tweets by {{ .Get "twitter_account" }}
    </a>
</div>