/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
@import "imports/style.css";
@import "imports/content.css";
@import "imports/miner.css";
@import "imports/menu.css";
@import "imports/roadmap.css";
@import "imports/sharers.css";
@import "imports/small-device.css";


/*
  Or add your statements here:
 */
/*************
*  GLOBAL
*************/
body, html {
  font-family: 'Work Sans', sans-serif !important;
  overflow-x: hidden;
  font-size: 1em;
  text-align: center;
}

h1, h2, h3, h4 {
  color: #525f7f !important;
  font-family: 'Oswald', monospace !important;
}